#maze{
  border:2px solid ;
  width:10000px;
  height:600px;
  margin:0 auto;
  position:relative;
  top:100px;
}

#nug{
  width:360px;
  height:300px;
  top:200px;
  left:300px;
  position:absolute;
  z-index: 1;
}



#lighter1 {
  width:150px;
  height:150px;
  position:absolute;
  top:560px;
  left:70px;
  z-index: -1;
}


#lighter2 {
  width:150px;
  height:150px;
  position:absolute;
  top:415px;
  left:70px;
  z-index: -1;
}

#lighter3 {
  width:150px;
  height:150px;
  position:absolute;
  top:255px;
  left:70px;
  z-index: -1;
}

#lighter4 {
  width:150px;
  height:150px;
  position:absolute;
  top:110px;
  left:70px;
  z-index: -1;
}







/*//relative, absolute, fixed, static//*/

.button {
  position: fixed;
   /*bottom: 0;*/
   right: 0;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
